<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>open_settings</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>設定画面を開く</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>[{}]</string>
		<key>Key</key>
		<string>phrases</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
</array>
</plist>
